html {
	scroll-behavior: smooth;
}

.bg-light-dark {
	background-color: #36393f !important;
}

.mainHeading:hover {
	/* text-decoration-color: #618eb1; */
    text-decoration-color: #860403;
	transition: text-decoration-color 0.2s ease-in-out;
}
.mainHeading {
	text-decoration-color: white;
	transition: text-decoration-color 0.2s ease-in-out;
}

.vl {
	border-left: 1.5px solid white;
	height: 100%;
	position: relative;
	left: 50%;
	top: -1vh;
	width: 0px;
}

#landing {
	display: grid;
	place-items: center;
	align-content: center;
}

section {
	min-height: 100vh;
}

#nav {
	min-height: 0;
}

.hidden {
	opacity: 0;
	transform: translateZ(-100%);
	transition: all 1s;
}

.show {
	opacity: 1;
	transform: translateZ(0);
}

@media(prefers-reduced-motion) {
	.hidden {
		transition: none;
	}
}