html {
	scroll-behavior: smooth;
}

.bg-light-dark {
	background-color: #36393f !important;
}

.mainHeading:hover {
	/* text-decoration-color: #618eb1; */
    text-decoration-color: #860403;
	transition: text-decoration-color 0.2s ease-in-out;
}
.mainHeading {
	text-decoration-color: white;
	transition: text-decoration-color 0.2s ease-in-out;
}

.vl {
	border-left: 1.5px solid white;
	height: 100%;
	position: relative;
	left: 50%;
	top: -1vh;
	width: 0px;
}

#topBtn {
	display: none;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
}